<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog   " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">3dtiles样式编辑器</h4>
            </div>
            <div class="modal-body">
                <code>
                    如果设置一个错误的样式，可能导致渲染停止，那就请重新打开此页面
                </code>
                <select class="form-control" v-model="selected">
                    <option v-for="c in codes" :value="c">{{c.name}}</option>
                </select>

                <textarea class="form-control" style="width: 100%;height: 200px; margin-top: 20px;" v-model="stylecode"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click="ok()">确定</button>
            </div>
        </div>
    </div>
    <code style="display: none;">
        <pre name='默认样式'></pre>

        <pre name='纯色'>tileset.style = new Cesium.Cesium3DTileStyle({
    color: "vec4(1,0,0,1)"
});</pre>

        <pre name='半透明'>tileset.style = new Cesium.Cesium3DTileStyle({
    color: "color() *vec4(1,1,1,0.8)"
});</pre>
        <pre name='点云强度插值'>tileset.style = new Cesium.Cesium3DTileStyle({
    color:"color() * ${Intensity} / 255"
});</pre>

        <pre name='点云分类着色'>tileset.style = new Cesium.Cesium3DTileStyle({
    color: {
        conditions: [
        ["${Classification} >=16.9", "rgb(232, 232, 232)"],
 ["${Classification} >=15.9", "rgb(243, 0, 0)"],
 ["${Classification} >=14.9", "rgb(68, 72, 93)"],
 ["${Classification} >=13.9", "rgb(1, 41, 247)"],
 ["${Classification} >=12.9", "rgb(228, 228, 216)"],
 ["${Classification} >=10.9", "rgb(123, 125, 7)"],
                ["${Classification} >=9.9", "rgb(45, 45, 40)"],
                ["${Classification} >=8.9", "rgba(127, 158, 249, 0.71)"],
                ["${Classification} >=5.9", "rgb(183, 180, 170)"],
                ["${Classification} >=4.9", "rgb(7, 128, 12)"],
                ["${Classification} >= 3.9", "rgb(9, 181, 16)"],
                ["${Classification} >= 2.9", "rgb(10, 255, 20)"],
                ["${Classification} >= 1.9", "rgb(236, 94, 8)"],
                ["true", "rgb(255 255, 255)"]
        ]
    }
});
</pre>
        <pre name='建筑物按高度插值'>tileset.style = new Cesium.Cesium3DTileStyle({
    color: {
        conditions: [
                ["${height} >= 300", "rgba(45, 0, 75, 0.5)"],
                ["${height} >= 200", "rgb(102, 71, 151)"],
                ["${height} >= 100", "rgb(170, 162, 204)"],
                ["${height} >= 50", "rgb(224, 226, 238)"],
                ["${height} >= 25", "rgb(252, 230, 200)"],
                ["${height} >= 10", "rgb(248, 176, 87)"],
                ["${height} >= 5", "rgb(198, 106, 11)"],
                ["true", "rgb(127, 59, 8)"]
        ]
    }
});</pre>


<pre name='建筑物楼顶和侧面分别着色'>tileset.style = new Cesium.Cesium3DTileStyle({
    color: {
        conditions: [
        ["${_bp} >0", "rgba(255, 255, 255,0.8)"],
          ["true", "rgb(180,180,180)"]
        ]
    }
});
</pre>



<pre name='根据属性隐藏'>tileset.style = new Cesium.Cesium3DTileStyle({
    color: {
        conditions: [
         ["${name} ==='玻璃'", "rgba(0, 0, 0, 0)"], 
                ["true", "rgb(255, 255, 255)"]
        ]
    }
});
</pre>




    </code>
</div>