<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>泸州市城市公共基础数据库</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" href="../lib/openlayer/ol.css" type="text/css">
    <script src="../lib/openlayer/ol.js"></script>
    <script src="../js/config/config.js"></script>
    <script src="../js/Utils/BaseURL.js"></script>
    <script src="../lib/layui/layui.js"></script>
    <script src="../js/tool.js"></script>
    <script src="../js/login/jquery-1.9.1.min.js"></script>
    <script src="../js/Utils/messages_cn.js"></script>
    <script src="../js/login/jquery.cookie.js"></script>
    <script src="../js/login/jquery.jsoncookie.js"></script>
    <script src="../js/login/cookie.js"></script>
    <script src="../js/user.js"></script>
    <!--<script src="../js/Utils/getSelectValue.js"></script>-->
    <script src="../js/buildAttManager/buildAttManagerEdit.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/formManager/formview.css?v=20160929"/>
    <link type="text/css" rel="stylesheet" href="../css/formManager/default.css"/>
    <link rel="stylesheet" href="../css/preview.css">

    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/magnify/dist/jquery.magnify.min.css">
    <style>
        .del_attach_btn{
            color: #FF5722;
            font-size: 16px;
            /*font-weight: bolder;*/
            position: relative;
            /*cursor: pointer;*/
            right: 10px;
            border: 1px solid #FF5722;
            border-radius: 10px;
            background-color: #fff;
        }
        .layui-btn-sm-re{
            width: 100px !important;
        }
        #OB_DESIGN_CRITERIA span{
            padding: 1px 0 !important;
        }
    </style>
    <script type="text/html" id="operationTpl">
        <a href="javascript:;" title="查看" lay-event="look"><i class="layui-icon  layui-icon-form operationTpl-icon"></i></a>
        <a href="javascript:;" title="下载" lay-event="download"><i class="layui-icon layui-icon-add-1  operationTpl-icon"></i></a>
        <a href="javascript:;" title="删除" lay-event="del"><i class="layui-icon layui-icon-delete operationTpl-icon"></i></a>
    </script>
    <script type="text/html" id="name">
        <div>{{ replaceName(d.oaSaveName) }}</div>
    </script>
</head>
<body class="wallpaper">

<div id="container" class="container hide">

    <form id="BuildingInfo" class="form ">

        <div id="formHeader" class="info">
        </div>
        <ul id="fields" class="fields">
        </ul>
    </form>
</div>

<div id="stage" class="clearfix hide">
    <img class="img-option" src=""/>
</div>
<div class="hide" id="divtmp"></div>
<div id="overlay" class="overlay hide"></div>
<div id="lightBox" class="lightbox hide">
    <div id="lbContent" class="lbcontent clearfix"></div>
</div>
<script type="text/javascript" src="../js/formManager/head.load.min.js"></script>
<script type="text/javascript">
    var isEmbed=false,F={"DISSHARE":""};
    var RULE={FIELDSRULE:[]};
    var ADVPERM={};
    var M={FRMNM:"建筑物属性表单视图",DESC:"",LANG:"cn",LBLAL:"L",CFMTYP:"T",CFMMSG:"提交成功。",SDMAIL:"0",CAPTCHA:"1",IPLMT:"0",SCHACT:"0",INSTR:"0",ISPUB:"1"};
    var F = JSON.parse(sessionStorage.getItem('firstF'));
    var fieldsLimit = 150;
    var goodsNumber = 60;
    var imageNumber = 10;
    var LVL = 4;
    var fieldsLimit = 150;
    var goodsNumber = 60;
    var imageNumber = 10;
    var LVL = 4;

    var isForTemplate = false;
    M.GID = "23423werfwetwe" ;

    var isForMobile=false;
    var IMAGEURL="#",FILEIMAGEEDITSTYLE="@100w_90Q";
    head.js(
        "../lib/magnify/dist/jquery-1.12.4.min.js",
        '../js/formManager/lang-cn.js?v=20160929',
        '../js/formManager/address-cn.js?v=20160929',
        "../js/formManager/utils.js?v=20160929",
        "../js/formManager/formview.js?v=20160929",
        "../js/Utils/preview.js",
        "../js/Utils/utils.js",
        "../lib/magnify/dist/jquery.magnify.min.js",
        "../js/Utils/BaseURL.js");
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?4e93cf0b43bbb28b7446cd782a148db3";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
    <!--<style>-->
        <!--.layui-form-mid {-->
            <!--float: left;-->
            <!--display: block;-->
            <!--padding: 0px 0 !important;-->
            <!--line-height: 20px;-->
            <!--margin-right: 10px;-->
        <!--}-->

        <!--.layui-form-radio {-->
            <!--margin-top: 6px;-->
            <!--margin-left: 6px !important;-->
        <!--}-->
    <!--</style>-->
<!--</head>-->
<!--<body class="childrenBody" style="font-size: 12px;margin: 10px 10px 0;">-->
    <!--&lt;!&ndash;<blockquote class="layui-elem-quote layui-quote-nm" &#45;&#45;%>-->
        <!--<%&#45;&#45;style="border-radius:0.25em;color: #31708f;background-color: #d9edf7;border-width:1px; padding:6px; border-color:#bce8f1;">&#45;&#45;%>-->
        <!--<%&#45;&#45;温馨提示:1.菜单类型为菜单时父级菜单可以为空;2.菜单类型为按钮时父级菜单不能为空;3.父级菜单选中时，资源路径不能为空&#45;&#45;%>-->
        <!--<%&#45;&#45;-->
    <!--</blockquote>&ndash;&gt;-->
    <!--<form class="layui-form layui-form-pane">-->
        <!--<input id="ID" name="ID" type="hidden" value="">-->
        <!--<input id="pageFlag" type="hidden" value="">-->
        <!--<input id="resParentCount" type="hidden" value="">-->
        <!--<div class="layui-form-item">-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label"><font style="color:red">*</font>服务名称</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" id="Servicesname" name="Servicesname" class="layui-input" maxlength="20" value="" lay-verify="Servicesname" placeholder="请输入服务名称">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label"><font style="color:red">*</font>服务全名</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" id="Servicesfullname" name="Servicesfullname" class="layui-input" maxlength="20" value="" lay-verify="required" placeholder="请输入服务全名">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item layui-form-text">-->
            <!--<label class="layui-form-label"><font style="color:red">*</font>服务地址</label>-->
            <!--<div class="layui-input-block">-->
                <!--<textarea name="Servicesaddr" id="Servicesaddr" placeholder="请输入服务地址" class="layui-textarea" maxlength="255" value="" lay-verify="required"></textarea>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">服务类型</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<select id="Servicestype" name="Servicestype" lay-filter="resTypeFilter" lay-verify="required">-->
                        <!--<option value="">请选择</option>-->
                        <!--<option value="ArcGISTiledMapServiceLayer">ArcGISTiledMapServiceLayer服务</option>-->
                        <!--<option value="ArcGISDynamicMapServiceLayer">ArcGISDynamicMapServiceLayer服务</option>-->
                        <!--<option value="Wms">Wms服务</option>-->
                        <!--<option value="Rest">Rest服务</option>-->
                        <!--<option value="Wmts">Wmts服务</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item layui-form-text">-->
            <!--<label class="layui-form-label">服务描述信息</label>-->
            <!--<div class="layui-input-block">-->
                <!--<textarea name="Servicesdescription" id="Servicesdescription" placeholder="请输入内容" class="layui-textarea"></textarea>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item layui-form-text">-->
            <!--<label class="layui-form-label">调用示例地址</label>-->
            <!--<div class="layui-input-block">-->
                <!--<textarea name="Servicessampleaddr" id="Servicessampleaddr" placeholder="请输入内容" class="layui-textarea"></textarea>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="layui-form-item" style="text-align: center;">-->
            <!--<button class="layui-btn" lay-submit="" lay-filter="saveRes">保存</button>-->
            <!--<button id="cancle" class="layui-btn layui-btn-primary">取消</button>-->
        <!--</div>-->
    <!--</form>-->

<!--</body>-->
<!--</html>-->
<!--模板-->
