<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>泸州市城市公共基础数据库</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <script src="../js/config/config.js"></script>
    <script src="../lib/layui/layui.js"></script>
    <script src="../js/tool.js"></script>
    <script src="../js/login/jquery-1.9.1.min.js"></script>
    <script src="../js/login/jquery.cookie.js"></script>
    <script src="../js/login/jquery.jsoncookie.js"></script>
    <script src="../js/user.js"></script>
    <script src="../js/dataManager/dataManagerEdit.js"></script>
    <style>
        .layui-form-mid {
            float: left;
            display: block;
            padding: 0px 0 !important;
            line-height: 20px;
            margin-right: 10px;
        }

        .layui-form-radio {
            margin-top: 6px;
            margin-left: 6px !important;
        }
    </style>
</head>
<body class="childrenBody" style="font-size: 12px;margin: 10px 10px 0;">
    <!--<blockquote class="layui-elem-quote layui-quote-nm" --%>
        <%--style="border-radius:0.25em;color: #31708f;background-color: #d9edf7;border-width:1px; padding:6px; border-color:#bce8f1;">--%>
        <%--温馨提示:1.菜单类型为菜单时父级菜单可以为空;2.菜单类型为按钮时父级菜单不能为空;3.父级菜单选中时，资源路径不能为空--%>
        <%--
    </blockquote>-->
    <form class="layui-form layui-form-pane">
        <input id="id" name="id" type="hidden" value="">
        <input id="pageFlag" type="hidden" value="">
        <input id="resParentCount" type="hidden" value="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><font style="color:red">*</font>服务名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="servicesName" name="servicesName" class="layui-input" maxlength="20" value="" lay-verify="Servicesname" placeholder="请输入服务名称">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><font style="color:red">*</font>服务全名</label>
                <div class="layui-input-inline">
                    <input type="text" id="servicesFullname" name="servicesFullname" class="layui-input" maxlength="20" value="" lay-verify="required" placeholder="请输入服务全名">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">服务图标</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="servicesDetails" name="servicesDetails" value="">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <a class="layui-btn layui-btn-normal layui-btn-mini select_img" data-id="" title="选择图标"><i class="layui-icon larry-icon larry-tupianguanli"></i></a>'
                </div>
                <!--<div class="layui-form-mid layui-word-aux">
                    <a class="layui-btn layui-btn-mini select_img" data-id="" title="选择图标"><i class="layui-icon larry-icon larry-tupianguanli"></i></a>'
                </div>-->
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><font style="color:red">*</font>服务地址</label>
            <div class="layui-input-block">
                <textarea name="servicesAddr" id="servicesAddr" placeholder="请输入服务地址" class="layui-textarea" maxlength="255" value="" lay-verify="required"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">服务类型</label>
                <div class="layui-input-inline">
                    <select id="servicesType" name="servicesType" lay-filter="resTypeFilter" lay-verify="required">
                        <option value="">请选择</option>
                        <option value="ArcGISTiledMapServiceLayer">ArcGISTiledMapServiceLayer服务</option>
                        <option value="ArcGISDynamicMapServiceLayer">ArcGISDynamicMapServiceLayer服务</option>
                        <option value="Wms">Wms服务</option>
                        <option value="Rest">Rest服务</option>
                        <!--<option value="Wmts">Wmts服务</option>-->
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">服务描述信息</label>
            <div class="layui-input-block">
                <textarea name="servicesDescription" id="servicesDescription" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">调用示例地址</label>
            <div class="layui-input-block">
                <textarea name="servicesSampleAddr" id="servicesSampleAddr" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <!--<div class="layui-form-item layui-form-text">
            <label class="layui-form-label">服务详细</label>
            <div class="layui-input-block">
                <textarea name="Servicesdetails" id="Servicesdetails" placeholder="请输入服务详细" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">关键字</label>
                <div class="layui-input-inline">
                    <input type="text" id="Keyword" name="Keyword" placeholder="请输入关键字" class="layui-input" maxlength="50" value="" lay-verify="required">
                </div>
            </div>

        </div>-->


        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="saveRes">保存</button>
            <button id="cancle" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </form>

</body>
</html>